/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .container {
    width: 90%;
  }



}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .container {
    width: 98%;
  }

  .top-bar p {
    display: none;
  }
  
  .icon {
    display: block;
    text-align: center;
  }
  
  .logo {
    margin: 0 auto;
  }
  
  .login {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  

}
