/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .container {
    width: 90%;
  }
  
  .email-marketing {
    display: none;
  }

  .login {
    display: none;
  }
  
  .menu-icon {
    color: #003d6a;
    float: right;
    font-size: 40px;
    padding: 40px 0;
    display: block;
  }
  
  .list-menu {
    display: none;

  }
  
  .head-slider {
    font-size: 44px;
  }
  
  .text-slider {
    font-size: 18px; 
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .container {
    width: 95%;
  }

  .top-bar p {
    display: none;
  }
 
  .icon {
    display: inline;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
  }
  
  .icon a {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
  }

  .logo {
    padding: 0 auto;
  }
  
  .login {
    display: none;
  }
  
  .menu-icon {
    color: #003d6a;
    float: right;
    font-size: 40px;
    padding: 40px 0;
    display: block;
  }
  
  .list-menu {
    display: none;

  }

  .slider {
    padding: 150px 0 100px 0;
  }
  
  .head-slider {
    font-size: 40px;
  }
  
  .text-slider {
    font-size: 16px; 
  }
}
