html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



.top-bar {
  height: 35px;
  width: 100%;
  background-color: #003d6a;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-menu {
}

.icon {
  float: left;
  padding-top: 10px;

}

.phone-marketing {
  float: right;
  padding-top: 10px;
  padding-left: 50px;
}

.email-marketing {
  float: right;
  padding-top: 10px;

}

.fa {
  color: white;
  padding-right: 5px;
}

.menu {
  height: 80px;
  width: 100%;
  background-color: #ffcb05;
  color: black;
  position: fixed;
  top: 35px;
  z-index: 10;
}

.logo {
  float: left;
  width: 200px;
  margin-top: 20px;
}

.login {
  float: right;
  margin-top: 30px;
  padding: 10px 40px;
  background-color: #003d6a;
  color: white;
}

.list-menu {
  float: left;
  display: inline-block;
  padding-top: 50px;
  padding-left: 100px;
}

.list-menu a {
  padding-right: 20px;
  color: #003d6a;
  font-weight: bold;
}

.list-menu .fa {
  color: #003d6a;

}

.slider {

}
