html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-bar {
  height: 35px;
  width: 100%;
  background-color: #003d6a;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-menu {
}

.icon {
  float: left;
  padding-top: 10px;

}

.phone-marketing {
  float: right;
  padding-top: 10px;
  padding-left: 50px;
}

.email-marketing {
  float: right;
  padding-top: 10px;

}

.fa {
  color: #ffcb05;
  padding-right: 5px;
}

.menu {
  height: 85px;
  width: 100%;
  background-color: #ffcb05;
  color: black;
  position: fixed;
  top: 35px;
  z-index: 10;
}

.logo {
  float: left;
  width: 250px;
  margin-top: 25px;
}

.menu-icon {
  display: none;
}

.fa-bars {
  display: none;

}

.login {
  float: right;
  margin-top: 25px;
  padding: 10px 40px;
  background-color: #003d6a;
  color: white;
  box-shadow: 0 5px #012845;
  opacity: 0.9;
  cursor: default;
}

.login:hover {
  opacity: 1;
}

.login:active {
  box-shadow: 0 2px #012845;
  position: relative;
  top: 3px;
}

.list-menu {
  float: left;
  display: inline-block;
  padding-top: 40px;
  padding-left: 100px;
}

.list-menu a {
  padding-right: 20px;
  color: #003d6a;
  font-weight: bold;
}

.list-menu a:hover {
  color: red;
  animation-duration: all 1s;
}

.list-menu a:active {
  color: black;
}

.list-menu .fa {
  color: #003d6a;

}

.slider {
  padding: 250px 0 100px 0;
  background-image: url(engineering1.jpg);
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 120px;
}

.head-slider {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.text-slider {
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.kunjungi {
  padding: 10px 40px;
  background-color: white;
  color: #003d6a;
  box-shadow: 0 5px #012845;
  opacity: 0.9;
  cursor: default;
  text-shadow: none;

}

.kunjungi:hover {
  opacity: 1;
}

.kunjungi:active {
  box-shadow: 0 2px #012845;
  position: relative;
  top: 3px;
}

.panah {
  color: #003d6a;
}
















body {
    margin: 0;
    padding: 0;


}


a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

a:hover {
    color: red;
    animation-duration: all 1s;
}


li {
    list-style: none;


}

ul {
    padding-left: 0;
    line-height: 20px;
}

.fa {
    color: white;
    padding-bottom: 10px;
    margin: 3px;
}

.fa:hover {
    color: red;
    animation-duration: all 1s;
}

h3 {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

/*footer isi*/
footer {
  width: 100%;   
  background-color: #003d6a;
  color: white;
  padding-top: 50px;
}

.content-footer {
    display: flex;
    background-color: #003d6a;
    width: 100%;
    position: sticky;
    padding-bottom: 10px;

}

.content-kiri1,
.content-kiri2,
.content-kanan1,
.content-kanan2 {
    flex: auto;
    padding-left: 10px;
    font-size: 12px;
    flex: 1;
}

.content-kiri1 {
    flex: 2;
}

.copyright {
    width: 100%;
    background-color: #ffcb05;

}

.copyright p {
    margin: 0 auto;
    width: 100%;
    padding-top: 15px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    color: #003d6a;
}

.logo-footer {
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
}


/* Untuk Tablet */
@media (max-width: 1000px) {
    .content-footer {
        flex-wrap: wrap;
    }

    .content-kiri1,
    .content-kiri2,
    .content-kanan1,
    .content-kanan2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    footer {
        text-align: center;
    }
}

/* Untuk Smartphone */
@media (max-width:670px) {

    /* Tetapkan flex-direction milik .flex-list */
    .content-footer {
        flex-direction: column;
        padding-bottom: 50px;
    }

    /* Tetapkan margin dari .flex-list li ke 0 auto */
    .content-kiri1,
    .content-kiri2,
    .content-kanan1,
    .content-kanan2 {
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }

    .logo {
        padding-bottom: 30px;
        border-bottom: 1px solid white;
    }


    footer {
        text-align: center;
    }
}
